
.page {
    font-family: 'Montserrat', sans-serif;
    background : rgb(226, 218, 218);
}

    .sous_page {
        width: auto;
        display : block;
        margin-left: auto ; 
        margin-right: auto;
        position: relative;
        background : rgb(226, 218, 218);
        max-width: 700px;
        min-width: 150px;
                }

.carré_1 {
    background : rgb(226, 218, 218);
    text-align: center;
    box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    -moz-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    -webkit-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62); 
    border-radius: 20px;
         }

        #photo_mr {
            display : block;
            margin-left: auto ; 
            margin-right: auto; 
            border-radius:360px;  
            border : black solid 3px ; 
            width : 150px; 
            -moz-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
            -webkit-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);

                }

        .titre1 {
            color : rgb(211, 24, 30) ;  
                }


        .boutton {
        color : white ; 
        background : rgb(211, 24, 30) ; 
        font-size : 30px; 
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        margin-bottom: 25px ;
                }

.carré_2 {
    width: 100%;
    display : flex ; 
    flex-direction: row ; 
    align-items: center;
    justify-content: space-around;
    font-size : 30px ; 
    text-align: center;
    margin-top: 50px ;
    background : rgb(226, 218, 218);
    box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    -moz-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    -webkit-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    border-radius: 20px;
}

         .cl1 {
            margin-left: 100px ;
            margin-right: 100px; 
            color : rgb(211, 203, 203) ;
            max-width: 150px ;
        }

         .cl2 {
            color : rgb(211, 203, 203) ; 
            max-width: 150px ;
}
         .cl3 {

            margin-left : 100px ;
            margin-right: 100px; 
            color : rgb(211, 203, 203) ;
            max-width: 120px ; 
 
}
.carré_3 {
    margin-top: 50px ;
    background : rgb(226, 218, 218);
    box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    -moz-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62);
    -webkit-box-shadow: 2px 0px 24px 9px rgba(119, 119, 119, 0.62); 
    padding-bottom: 5%;
    border-radius: 20px;
}

        #carre_3_title {
            text-align: center ; 
        
                        }
                        
        .img-1 {
            float: left;
            padding-bottom: 5%;
            padding-top : 5%;
            padding-left : 7% ;
                }

        .txt-1 {
        float: right;
        text-align: justify; 
        padding-bottom: 5%;
        padding-top : 5%;
        padding-left : 15% ;
        padding-right :10% ;
                }
        .film_1 {
            display : flex ;
            flex-direction: row; 
            width: 100% ;        
             }
        .sizeImg {
        height: 14em;
        }

        @media screen and (max-width: 620px) {

        .film_1 {
            flex-direction: column;
            align-items: center;
        }
        .carré_2 { 
            flex-direction: column ;
            
        }
        .cl1 ,.cl2,.cl3 {
            margin-bottom: 30px ;
            margin-top : 30px ;  
        } 

 

        }