.page {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background : rgb(169, 169, 169)
}

.sous_page {
   background : white ;
   width: 700px;
   display : block;
   margin-left: auto ; 
   margin-right: auto;
   position:static;
}

#photo_mr {
    display : block;
    margin-left: auto ; 
    margin-right: auto;    
}